<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- 使用 thymeleaf 传递数据给静态页面-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>审批用户</title>
    <style>
        *{
            margin:0;
            padding: 0;
        }
    </style>
</head>
<body style="background-color: lightgrey;">
<div style="background-color: #0d8ddb; height:70px; width:100%; align-items: center">
    <span style="width:400px ;color: white; line-height: 70px; margin-left: 30px;margin-right: 20%"><font size="+2">能力文档规范系统</font></span>
    <span style="float: right; line-height: 70px; margin-right:30px" th:text="|欢迎，${nowUserrole} ${nowUsername}|"><font color="white">欢迎，用户xxxxxx</font></span>
    <input type="button" value="返回个人主页" style="float: right; height: 40px; background-color: #0d8ddb; border:1px solid #cccccc; color: white; border-radius: 3px; width: 100px; margin-right: 2%; margin-top: 15px" onclick="location.href ='/user/index'"/>
</div>

<div  style="width: 100%; height: auto; margin-top: 20px; line-height: 1.5">
    <div style="text-align:center;width: 80%; height: auto; margin: auto; overflow: hidden;">
        <h2>用户审批</h2>
        <br>
        <table style="margin:auto; text-align:center; border: 3px solid black; width: 100%; height: auto;" border="+1" cellspacing="0">
            <form action="" method="" role="form">
                <tbody>
                <tr>
                    <td style="width:5%">Lv</td>
                    <td style="width:10%">姓名</td>
                    <td style="width:10%">用户名</td>
                    <td style="width:5%">性别</td>
                    <td style="width:15%">联系方式</td>
                    <td style="width:10%">地址</td>
                    <td style="width:20%">生日</td>
                    <td style="width:10%">推荐人</td>
                    <td style="width:10%">所属</td>
                </tr>
                <tr th:each="user:${result}">
                    <td th:text="${user.getRole()}" style="width: auto">i权限</td>
                    <td th:text="${user.getName()}" style="width: auto">i姓名</td>
                    <td th:text="${user.getUsername()}" style="width:auto">i用户名</td>
                    <td th:text="${user.getGender()}" style="width: auto">i性别</td>
                    <td th:text="${user.getTel()}" style="width: auto">i联系方式</td>
                    <td th:text="${user.getAddress()}" style="width: auto">i地址</td>
                    <td th:text="${user.getBirthday()}" style="width: auto">i生日</td>
                    <td th:text="${user.getFriend()}" style="width: auto">i推荐人</td>
                    <td th:text="${user.getCompany()}" style="width: auto">i所属</td>
                    <td><input type="button" value="审批" style="text-align: center; height: 25px; background-color: darkmagenta; border:1px solid #cccccc; color: white; border-radius: 3px; width: auto; margin: auto" th:onclick="|location.href ='/user/check/user/${user.getId()}'|"></td>
                </tr>

                </tbody>
            </form>
        </table>
    </div>


</div>
</body>