<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- 使用 thymeleaf 传递数据给静态页面-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body style="background-color: whitesmoke; ">
<div style="background-color: #0d8ddb; height:70px; width:100%;">
    <span style="width:400px ;color: white; line-height: 70px; margin-left: 30px;"><font size="+2">能力文档规范系统</font></span>
</div>

<div style="height: 700px; width: 70%; background-color: white; margin: auto;overflow: hidden; margin-top: 30px;">
    <div >
        <form class="bs-example bs-example-form" role="form" action="/login" method="post">

            <div style="position: relative; top: 25px; width: auto; margin-left: 30px; margin-right: 30px;">
                <div style="display: inline-block;width: 280px; text-align: right;">
                    <span style="width: 80px; text-align: right;">用户名:</span>
                    <input type="text" placeholder="请输入用户名" name="username" id="username" style="width: 200px; height: 30px;">
                </div>
                <div style="display: inline-block; width: 280px; text-align: right;">
                    <span style="width: 80px; text-align: right;">密码:</span>
                    <input type="text" placeholder="请输入密码" name="password" id="password" style="width: 200px; height: 30px;">
                </div>
            </div>
            <div style="text-align: right; margin-top: 10px;">
                <div style="display: inline-block; position: relative; top: 25px; width: auto; margin-right: 20px; ">
                    <input type="submit" value="登录" style="height: 40px; background-color: #0d8ddb; border:1px solid #cccccc; color: white; border-radius: 3px; width: 100px;" />
                </div>
                <div style="display: inline-block; position: relative; top: 25px; width: auto; margin-right: 20px; ">
                    <input type="reset" value="重置" style="height: 40px; background-color: #0d8ddb; border:1px solid #cccccc; color: white; border-radius: 3px; width: 100px;"/>
                </div>
                <div style="display: inline-block; position: relative; top: 25px; width: auto; margin-right: 20px; ">
                    <input type="button" value="去注册" style="height: 40px; background-color: #0d8ddb; border:1px solid #cccccc; color: white; border-radius: 3px; width: 100px;" onclick="location.href = '/regist'"/>
                </div>
            </div>
        </form>
    </div>
    <br>

    <div style="display: inline-block; width:100%; height:2px; margin-top:20px; background-color:lightgrey; border-radius: 40%;"></div>


    <div style="padding: 30px;">
        <table style="margin:auto; text-align:center; border-radius: 5px; border: 2px solid gray; width: 80%; height: auto;" border="+1" cellspacing="0">
            <h2 style="width: 80%">新闻</h2>
            <tbody>
                <tr>
                    <td  style="width: 10%">状态</td>
                    <td  style="width: 50%">标题</td>
                    <td  style="width: 10%">作者</td>
                    <td  style="width: 10%">创建日期</td>
                    <td  style="width: 10%">类型</td>
                </tr>
                <tr th:each="passage:${result}">
                    <td th:if="${passage.getRole()<=1}" style="width: 10%"><font style="color: gray">未通过</font></td>
                    <td th:if="${passage.getRole()==2}" style="width: 10%"><font style="color: limegreen">通过Lv1</font></td>
                    <td th:if="${passage.getRole()==3}" style="width: 10%"><font style="color: limegreen">推荐Lv2</font></td>
                    <td th:if="${passage.getRole()==4}" style="width: 10%"><font style="color: limegreen">精品Lv3</font></td>
                    <td th:text="${passage.getTitle()}" style="width: 50%">i标题</td>
                    <td th:text="${passage.getAuthor()}" style="width: 10%">i作者</td>
                    <td th:text="|${passage.getDate().getMonth()}-${passage.getDate().getDay()} ${passage.getDate().getHours()}:${passage.getDate().getMinutes()}|" style="width: 20%">i创建日期</td>
                    <td th:if="${passage.getType()==1}" style="width: 10%">提案</td>
                    <td th:if="${passage.getType()==2}" style="width: 10%">规范</td>
                   </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>