<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息维护</title>
    <style>
        *{
            margin:0;
            padding: 0;
        }
    </style>
</head>
<body style="background-color: whitesmoke;">
    <div style="background-color: #0d8ddb; height:70px; width:100%; margin-bottom: 30px;">
        <span style="width:400px ;color: white; line-height: 70px; margin-left: 30px;"><font size="+2">能力文档规范系统</font></span>
        <span style="float: right; line-height: 70px; margin-right: 30px;"><font color="white">欢迎，用户xxxxxx</font></span>
        <div style="display: inline-block;width: auto; line-height: 70px;padding-left: 50%;margin-left:18%;">
        	<input type="button" value="注销" style="height: 40px; background-color: #0d8ddb; border:1px solid #cccccc; color: white; border-radius: 3px; width: 100px;" onclick="location.href = 'logout.html'""/>
        </div>      
    </div>
    <div style="width: 100%; height: auto; text-align: center;">
        <h2>
            信息维护
        </h2>
        <br>
        <div style="height: auto; width: 90%; margin: auto; overflow: hidden;">
            <table style="margin:auto; text-align:center; border: 3px solid black; width: 100%; height: auto;" border="+1" cellspacing="0">
                <form action="" method="" role="form">
                    <tbody>
                    <tr style="height: 50px;">
                        <td>序号</td>
                        <td>姓名</td>
                        <td>单位</td>
                        <td>职称</td>
                        <td>职务</td>
                        <td>电话</td>
                        <td>邮箱</td>
                        <td>微信</td>
                    </tr>
                    <tr style="height: 50px;">
                        <td>dssfd</td>
                        <td>jfl</td>
                        <td>rew</td>
                        <td>rew</td>
                        <td>rew</td>
                        <td>dssfd</td>
                        <td>jfl</td>
                        <td>rew</td>
                    </tr>
                    <tr style="height: 50px;">
                        <td>dssfd</td>
                        <td>rew</td>
                        <td>rew</td>
                        <td>rew</td>
                        <td>rew</td>
                        <td>dssfd</td>
                        <td>jfl</td>
                        <td>rew</td>
                    </tr>
                    <tr style="height: 50px;">
                        <td>dssfd</td>
                        <td>rew</td>
                        <td>rew</td>
                        <td>rew</td>
                        <td>rew</td>
                        <td>dssfd</td>
                        <td>jfl</td>
                        <td>rew</td>
                    </tr>
                    <tr style="height: 50px;" >
                        <td>dssfd</td>
                        <td>rew</td>
                        <td>rew</td>
                        <td>rew</td>
                        <td>rew</td>
                        <td>dssfd</td>
                        <td>jfl</td>
                        <td>rew</td>
                    </tr>
                    </tbody>
                </form>
            </table>
        </div>
    </div>
</body>
</html>